@media (max-width: 1399.98px) {
	a.navbar-brand {
	    font-size: 22px;
	}
	a.nav-link {
	    font-size: 13px;
	}
}

@media (max-width: 1199.98px) {
	a.nav-link {
	    margin-left: 22px;
	}
	a.navbar-brand {
	    font-size: 20px;
	}
	.competences-part {
		width: 32%;
	}
	.competences-rating span {
	    width: 17px;
	    height: 17px;
	    border-radius: 100%;
	    margin-right: 2px;
	}
	.competences-name {
	    width: 40%;
	}
	.competences-item-wraper {
	    width: 60%;
	}
	.competences-item h3 {
	    font-size: 14px;
	}
}

@media (max-width: 991.98px) {
	button.navbar-toggler img {
	    width: 30px;
	}
	.mobile-menu-wraper {
	    background: #6bc0c9;
	}
	.mobile-menu-wraper a.nav-link {
	    margin-left: 0;
	}
	.mobile-menu-wraper a.nav-link {
	    margin-left: 0;
	    font-size: 16px;
	    margin-bottom: 20px;
	}
	.mobile-menu-wraper a.nav-link.nav-button {
	    background: red;
	    padding: 0px !important;
	    background: none !important;
	}
	.mobile-menu-wraper.offcanvas-end {
	    width: 350px;
	    border: none;
	}
	.mobile-menu-wraper button {
	    background: transparent;
	    border: none;
	    margin-top: 10px;
	    margin-right: 5px;
	}
	.mobile-menu-wraper button img {
	    width: 25px;
	    height: auto;
	}
	.mobile-menu-wraper .offcanvas-header {
	    text-align: right;
	    display: block;
	}
	.navbar-toggler:focus {
	    text-decoration: none;
	    outline: 0;
	    box-shadow: none;
	}
	.mobile-menu-wraper .offcanvas-body {
	    padding: 20px 50px;
	}
	.mobile-menu-wraper a.nav-link.nav-button:after{
		display: block;
	}
	.offcanvas-backdrop.show {
	    opacity: 0;
	}
	button.navbar-toggler {
	    padding: 0;
	}
	a.navbar-brand {
	    font-size: 24px;
	}
	.arrow-down {
	    margin-top: 80px;
	}
	.header-content {
	    min-height: 700px;
	}
	.siuis-je-content {
	    width: 100%;
	    margin: 0 auto;
	}
	.suis-je-image {
	    position: absolute;
	    left: 50%;
	    top: inherit;
	    transform: translate(-50%, 0%);
	    bottom: -110px;
	}
	.suis-je-image img, .tree-image img, .mailbox-image img {
	    width: 100px;
	}
	.competences-wraper {
	    display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
	}
	.competences-part {
	    width: 46%;
	}
	.certifications-wraper {
	    display: block;
	    margin-top: 80px;
	}
	.certifications-wraper > div {
	    width: 100%;
	}
	section#siuis-je {
	    padding: 90px 0px;
	    padding-bottom: 150px;
	}
	.certifications-left {
	    text-align: left;
	}
	.certifications-left{
	    width: 278px !important;
	    height: 30px;
	    overflow: hidden;
	    margin-bottom: 10px;
	}
	.contact-wraper {
	    width: 100%;
	    margin: 0 auto;
	    margin-top: 70px;
	    margin-bottom: 70px;
	}
	.input-box input {
	    width: 32%;
	}
	.contact-info {
	    width: 440px;
	    margin-top: 50px;
	    margin-bottom: 35px;
	}
	div#mobile-menu {
	    display: block;
	}
}

@media (max-width: 767.98px) {
	.competences-image img {
	    margin-right: 0;
	}
	.competences-part {
	    width: 330px;
	    margin: 0 auto;
	}
	.header-content-wraper h5 {
	    font-size: 18px;
	}
	.experiance-office {
	    text-align: left;
	    padding-left: 40px;
	}
	.experiances-name {
	    text-align: right;
	    padding-right: 40px;
	}
	.input-box {
	    flex-wrap: wrap;
	}
	.input-box input {
	    width: 100%;
	    margin-top: 30px;
	}
	.contact-wraper {
	    width: 80%;
	    margin: 0 auto;
	    margin-top: 50px;
	    margin-bottom: 70px;
	}
	.suis-je-image img, .tree-image img, .mailbox-image img, .graduation-image img, .competences-image img {
	    width: 80px;
	}
	.contact-info img {
	    width: 30px;
	    margin-right: 10px;
	}
	.contact-info {
	    width: 330px;
	    margin-top: 50px;
	    margin-bottom: 35px;
	}
}

@media (max-width: 575.98px) {
	.header-content-wraper h1 {
	    font-size: 30px;
	}
	.header-content-wraper h5 {
	    font-size: 16px;
	    margin-top: 15px;
	}
	.profile-photo {
	    margin-top: 50px;
	}
	.experiances-name h3 {
	    font-size: 13px;
	}
	.experiances-name p {
	    font-size: 11px;
	}
	.experiance-position {
	    width: 40% !important;
	}
	.experiances-name {
	    text-align: right;
	    padding-right: 15px;
	}
	.experiance-office {
	    width: 60% !important;
	    padding-left: 20px;
	}
	.experiances-item:before {
	    content: '';
	    position: absolute;
	    width: 2px;
	    height: 100%;
	    background: #5b7cb3;
	    left: 40%;
	    top: 0;
	    transform: translate(-50%, 0px);
	}
	.experiances-item:after {
	    content: '';
	    position: absolute;
	    width: 14px;
	    height: 14px;
	    background: #1b222b;
	    left: 40%;
	    top: 0;
	    transform: translate(-50%, 0px);
	    border-radius: 100%;
	}
	.experiance-office h3 {
	    font-size: 14px;
	    font-weight: 300;
	    margin-bottom: 10px;
	}
	.experiance-office p {
	    font-size: 11px;
	}
	.experiances-item {
	    display: flex;
	    justify-content: space-between;
	    position: relative;
	    padding-bottom: 30px;
	}
	.formations-item {
	    text-align: center;
	    margin-top: 15px;
	}
	.section-title h2 {
	    font-size: 22px;
	}
	.section-title h2:after {
	    bottom: -10px;
	}
	.certifications-list p {
	    font-size: 11px;
	}
	.certifications-left img {
	    width: 310px;
	}
	.certifications-left {
	    width: 215px !important;
	    height: 20px;
	    overflow: hidden;
	    margin-bottom: 11px;
	}
	.certifications-wraper {
	    display: block;
	    margin-top: 40px;
	}
	.input-box input {
	    width: 100%;
	    margin-top: 15px;
	}
	.contact-wraper {
	    width: 85%;
	    margin: 0 auto;
	    margin-top: 30px;
	    margin-bottom: 50px;
	}
	.contact-info img {
	    width: 20px;
	    margin-right: 2px;
	}
	.contact-info {
	    width: 290px;
	    margin-top: 50px;
	    margin-bottom: 15px;
	}
	.mailbox-image img {
	    width: 55px;
	}
	.footer-wraper {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    flex-direction: column-reverse;
	}
	.copyright{
	    margin-top: 20px;
	}
	.contact-wraper form textarea {
	    margin-top: 20px;
	}
	.copyright p {
	    text-align: center;
	}
	section#contact, section#certifications, section#formations, section#experiances {
	    padding: 60px 0px;
	}
	section#experiances .container .row {
	    padding-bottom: 60px;
	}
	section#competences {
	    background: #f3f3f3;
	    padding-bottom: 60px;
	}
	section#siuis-je {
	    padding: 60px 0px;
	    padding-bottom: 150px;
	}
	section#contact {
	    padding-bottom: 0px;
	}
	.suis-je-image img {
	    width: 80px;
	}
	.mobile-menu-wraper a.nav-link {
	    margin-left: 0;
	    font-size: 14px;
	    margin-bottom: 20px;
	}
	.mobile-menu-wraper .offcanvas-body {
	    padding: 20px 30px;
	}
	.mobile-menu-wraper .offcanvas-header {
	    text-align: right;
	    display: block;
	    padding-bottom: 0;
	}
	section#experiances {
	    padding-bottom: 0;
	}
	.experiances-main {
	    margin-top: 70px;
	    margin-bottom: 50px;
	}
}
@media (max-width: 450px) {
	a.navbar-brand {
	    font-size: 20px;
	}
	button.navbar-toggler img {
	    width: 25px;
	}
	.header-content-wraper h1 {
	    font-size: 25px;
	}
	.header-content-wraper {
	    text-align: center;
	    margin-top: 80px;
	}
	.siuis-je-content .section-title {
	    margin-bottom: 30px;
	}
	.competences-image img {
	    width: 50px;
	}
	.competences-part {
	    width: 100%;
	    margin: 0 auto;
	}
	.experiances-main {
	    margin-top: 40px;
	}
	.suis-je-image img, .tree-image img, .mailbox-image img, .graduation-image img, .competences-image img {
	    width: 60px;
	}
	.certifications-left img {
	    width: 270px;
	}
	.certifications-left {
	    width: 186px !important;
	    height: 20px;
	}
	.contact-wraper {
	    width: 100%;
	    margin: 0 auto;
	    margin-top: 30px;
	    margin-bottom: 50px;
	}
	.contact-info a {
	    font-size: 11px;
	}
	.mailbox-image img {
	    width: 40px !important;
	}
	.contact-info {
	    width: 75%;
	}
	.contact-info img {
	    width: 15px;
	    margin-right: 0px;
	}
	.mobile-menu-wraper.offcanvas-end {
	    width: 270px;
	    border: none;
	}
	.mobile-menu-wraper button img {
	    width: 20px;
	    height: auto;
	}
	.form-btn button {
	    padding: 10px 60px;
	}
	.experiances-main {
	    margin-top: 70px;
	    margin-bottom: 25px;
	}

}

